body {
    padding: 15px;
    margin-top: 50px;
}

h1 {
   padding: 20px;
}

.language_selector {
    background-color: #c4c1c1;
}

.navbar {
    position: fixed;
     z-index: 1000;   /*最上部に固定して */
    top: 0;
    left: 0;
    width: 100%;
    color: #fbfafa;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}