{% extends "base2.html" %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
 {% block content %}
<div class="container-sm mt-5">
    <h3 class="text-center">{{ title }}</h3>
    <div class="row justify-content-center">
        <div class="col-md-4 col-lg-3">
            <div class="card shadow-lg">
                <div class="card-body">
                    <form action="/book/update" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ book.id }}">

                        <div class="mb-3">
                            <label for="bookName" class="form-label">📖 書籍名：</label>
                            <input type="text" id="bookName" name="bookName" class="form-control" value="{{ book.bookName }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">💰 価格：</label>
                            <input type="text" id="price" name="price" class="form-control" value="{{ book.price }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="publishDate" class="form-label">📅 出版日：</label>
                            <input type="date" id="publishDate" name="publishDate" class="form-control"
           value="{{ book.publishDate|date:'Y-m-d' }}" required>
{#                            <input type="text" id="publishDate" name="publishDate" class="form-control" value="{{ book.publishDate | date:'Y-m-d' }}" required>#}
                        </div>
                        <div class="mb-3">
                            <label for="bookType_id" class="form-label">📂 カテゴリー：</label>
                            <select id="bookType_id" name="bookType_id" class="form-select" required>
                                {% for bookType in bookTypeList %}
                                    <option value="{{ bookType.id }}"
                                    {% if book.bookType.id == bookType.id %} selected {% endif %}>
                                        {{ bookType.bookTypeName }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success w-100">📲 更新</button>
                            <a href="/book/list" class="btn btn-secondary w-100 mt-2">📖 一覧へ戻る</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
 {% endblock %}
</body>
</html>