{% extends "base2.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% block content %}
    <h1>{{ hello }}</h1>

    <a href="{% url 'book' %}" target="_blank">{{ book }}</a>
    <a href="https://gespenst-zero.firebaseapp.com/?load&lang=ja" target="_blank">{{ mbti }}</a><br>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header bg-primary text-white text-center">
                        📂 文件夹选择
                    </div>
                    <div class="card-body">
                        <!-- カードの中身　 -->
                        <form method="post" action="{% url 'home' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ form.source_folder.label_tag }}
                                {{ form.source_folder }}
                            </div>
                            <div class="mb-3">
                                {{ form.target_folder.label_tag }}
                                {{ form.target_folder }}
                            </div>
                            <div class="mb-3">
                                {{ form.output_format.label_tag }}
                                {{ form.output_format }}
                            </div>

                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-success btn-block">
                                    🚀 开始转换
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    {% if logs %}#}
    {#        <script>#}
    {#            window.onload = function () {#}
    {#                let logMessages = `{% for log in logs %}{{ log }}\n{% endfor %}`;#}
    {#                alert(logMessages);#}
    {#            };#}
    {#        </script>#}
    {#    {% endif %}#}
{% endblock %}
</body>
</html>