<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<form action="/auth/register" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>用戶注冊</th>
        </tr>
        <tr>
            <td>用戶名：</td>
            <td>
                <input type="text" name="username">
            </td>
        </tr>
        <tr>
            <td>密碼：</td>
            <td>
                <input type="password" name="password">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="提交">
            </td>
        </tr>
        <tr>
            <td colspan="2"><font color="red">{{ errorfinfo }}</font></td>
        </tr>
    </table>
</form>
</body>
</html>